<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estadisticas Partida - Jugador {{ juego.mi_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Enlace al archivo CSS -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/BanderaFavicon.png') }}"> <!-- Favicon -->
    <meta http-equiv="refresh" content="1"> <!-- Se refresca cada segundo -->
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>🎮 CAPTURA LA BANDERA</h1>
            <p>Jugador: - <strong>ID: {{ juego.mi_id }} ({{ juego.nombrelocal }})</strong></p>
        </div>

        <div class="status-grid">
            {% for id, j in juego.jugadores.items() %}
            <div class="card {{ 'local' if j.es_local else '' }}">
                <h3>{{ j.NombreJugador }}</h3>
                <p>ID: {{ j.id }}</p>
                <div class="puntos">{{ j.puntos }}</div>
                <p>Posición: {{ j.rect.x }}, {{ j.rect.y }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="bandera-box">
            <h2>🟩 ESTADO DE LA BANDERA 🟩</h2>
            {% if juego.bandera.portador %}
                <p>La tiene: <strong>{{ juego.bandera.portador.NombreJugador }}</strong></p>
            {% else %}
                <p>Estado: <strong>LIBRE EN EL CENTRO</strong></p>
            {% endif %}
            <p>Ubicación: ({{ juego.bandera.rect.x }}, {{ juego.bandera.rect.y }})</p>
        </div>

        <a href="/api/estado" class="btn">Ver JSON Crudo</a>
    </div>
</body>
</html>