<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ranking Global</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/BanderaFavicon.png') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>🏆 RANKING GLOBAL</h1>
        </div>

        <div class="Tarjeta-ranking">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puntos</th>
                        <th>Gestión</th>
                    </tr>
                </thead>
                <tbody>
            {% for j in ranking %}
            <tr>
                <td>{{ j.nombre }}</td>
                <td class="puntos">{{ j.scoreTotal }}</td>
                <td>
                    <a href="{{ url_for('borrar_jugador', id_jugador=j.jugadorId) }}" 
                    onclick="return confirm('¿Estás seguro de borrar a {{ j.nombre }}?')" 
                    class="btn-eliminar">[X]</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
                
            </table>
        </div>

        <a href="/" class="btn">Volver</a>
    </div>
</body>
</html>